
 @media(min-width:992px){

    /* style header */
    header .menu li{
        font-family: 'Poppins-SemiBold';
        position: relative;
    }
    
    header .menu .dropdown{
        position: absolute;
        left: 50%;
        top: calc(100% + 30px);
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 5px;
        transition: 0.5s;
        display: flex;
        opacity: 0;
        transition: 0.3s;
        z-index: 0;
        visibility: hidden;
        border: 2px solid var(--color1);
        white-space: nowrap;
    }
    
    header .menu li:hover .dropdown{
        opacity: 1;
        top: 100%;
        visibility: visible;
        z-index: 5;
    }
    
    header .menu li:nth-child(3) .dropdown{
        left: -180px !important;
    }
    
    
    header .menu .dropdown ul li{
        margin-top: 5px ;
        height: auto;
        position: relative;
        width: auto;
        font-size: 14px;
        padding: 0px!important;
       
    }
    
    header .menu .dropdown ul span i{
        background-color:var(--color1);
        color: white;
        padding:3px 5px;
        margin-left: 5px;
    }
    
    header .menu li:nth-child(2) .dropdown{
        left: -100px !important;
    }
    
    header .menu li:nth-child(4) .dropdown{
        left: -200px !important;
    }
    
    header .menu li:nth-child(5) .dropdown{
        left: -200px !important;
    }

    header .menu li:nth-child(6) .dropdown{
        left: -600px !important;
    }

    .About .left p{
        max-width: 588px;
    }

    .About .left{
        background-size: 500px;
        background-position: left;
    }

    .initiatives h5{
        height: 60px;
    }
        }


    
    @media (min-width:1200px){
        .initiatives .row{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: 10px;
            padding-top: 20px;
            }
    }
    
    @media (max-width:1200px){
        .initiatives .row{
            display:grid !important;
            grid-template-columns: auto auto auto;
            grid-gap: 20px;
            }
    
            header .topside{
                width: 50%;
            }        
    }
    
    @media(max-width:1300px){
        .sliderinneritem1 .right-item{
            right: -45%;
        }
    }
    @media(max-width:992px){
    
        .About{
            height: auto;
            background-size: cover;
        }
        
        .About .left{
            height: auto;
        }
        
        .About .right{
            height: auto;
            padding-top: 50px;
        }
        
        .About .right span{
            padding-top:10px;
        }
        
        .menu-item{
            position: relative;
           
        }
    
    
        .dropicon{
            position: absolute;
            top: 22px;
            right: 30px;
        }
    
        .dropicon i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.5s;
        }
    
        header .menu li:hover .dropdown{
            display: block;
         }

        header .topside{
            width: 70%;
        }
        .isccm-connectinner{
            flex-direction: column;
        }
        .isccm-connect input{
            width: 100%;
            max-width:2000px;
            margin-top: 20px;
            margin-left: 0px;
        }
    
        .isccm-connect button{
            margin-left: 0px;
            margin-top: 20px;
        }
         .bar{
            display: block;
        }
    
        header .topside .topsideinner{
            margin-left: auto;
            padding-right: 20px;
        }
        nav .menu{
            position:absolute;
            left:0px;
            top:100%;
            height: 100vh;
            min-height: 50vh;
            width: 50vw;
            flex-direction: column;
            background-color: #2a67b5;
            overflow-y: scroll;
            transition: 0.5s;
            transform: translateX(-100%);
            overflow-x: hidden;
            max-width: 1000px;
            transition: 0.5s;
            padding: 0px 10px;
            z-index:-1;
        }
    
        nav .menu.show{
            transform: translateX(0%);
        }
    
        nav .menu .dropdown li{
           margin-top: 2.5px;
           margin-bottom: 2.5px;
        }
    
        header .homelogin li{
            color: white;
            font-weight: bold;
            cursor: pointer;
            transition:all 0.5s;
        }
    
    
        header .topside input{
        width: 200px;
        }
    
    
        nav .menu::-webkit-scrollbar{
            visibility: hidden;
            width: 5px;
    
        }
    
        nav .menu::-webkit-scrollbar-thumb{
            border-radius: 15px;
            background-color: rgb(187, 187, 187);
        }
    
        nav .menu .dropdown span{
         color: black;
        }
    
        nav .menu li{
            border-bottom: 1px solid white;
            padding: 10px 0px;
            cursor: pointer;
            color: white;
            transition: 0.5s;
        }
    
    
        nav .menu li a{
            color: white;
        }
    
        nav .menu li:hover a{
            color: #ffffff;
        }
    
        
        header .menu .dropdown{
            position:static;
            transform: translateX(0%);
            background-color: rgb(255, 255, 255);
            border:none;
            padding:0px;
            border-radius: 5px;
            width: 100%;
            display: none;
            flex-direction: column;
            margin: 10px 0px;
        }
    
        header .menu li.showdrop .dropdown{
            display: block;
         }
    
    
    header .menu li:nth-child(2):hover .dropdown,header .menu li:nth-child(3):hover .dropdown,header .menu li:nth-child(4):hover .dropdown,header .menu li:nth-child(5):hover .dropdown, header .menu li:nth-child(6):hover .dropdown{
        width: 100%;
        padding: 10px;
    }
    
    
        nav .menu .dropdown ul li a{
            color: black;
        }
    
    
    
        .sliderinneritem1 .right-item{
            right: -768px;
        }
    
         .carousel .item2 .carousel-caption{
             left: 0px!important;
         }
    
         .carousel .item3 .carousel-caption{
            left: 0px;
        }
    
         .carousel .item5 .carousel-caption .caption{
             left: 0px;
             width: 100%;
             height: 100%;
             padding-left: 100px;
         }
    
         .carousel .item5 .carousel-caption{
             left: 0px;
             right: 0px;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             bottom: 0px;
             overflow: hidden;
             margin: 0px;
             max-width: 1000px;
         }
    
         .initiatives .row{
            -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    
         
    }
    
    @media(max-width:768px){
    
        header .topside{
            width: 85%;
        }
    
        nav .menu{
            width: 100vw;
            transition: 0.5s;
        }
        
        .carousel-item{
            max-height: 100vh;
        }
       
         .carousel .item4 button{
             bottom: 250px;
         }
    
         .carousel .item5 .carousel-caption img{
            left: -100%;
        }
    
        .sliderinneritem1 .right-item{
            right: -800px;
        }

    .carousel .carousel-item:nth-child(1) .carousel-caption button{
        padding: 5px 20px;
        border-radius: 20px;
        border: none;
        font-size: 16px;
        cursor: pointer;
         width: 100%;
        min-width: 50px;
        max-width: 120px;
    }
    
    
    .carousel .carousel-item:nth-child(2) .carousel-caption button{
        padding: 5px 20px;
        margin-top: 5px;
        font-size: 16px;
        min-width: 50px;
        max-width: 130px; 
    }
    
    .carousel .carousel-item:nth-child(3) .carousel-caption button{
        position: absolute;
        top: 68.5%;
        left: 9%;
        padding: 10px 20px;
        font-size: 16px; 
    }
    
    .carousel .carousel-item:nth-child(4) .carousel-caption button{
        padding: 5px 20px;
        font-size: 16px;
        min-width: 50px;
        max-width: 120px;
        bottom: 5px;  
    }
    
    .carousel .carousel-item:nth-child(5) .carousel-caption button{
        padding: 5px 20px;
        border: none;
        font-size: 16px;
        min-width: 50px;
        max-width: 120px;
       
    } 
      
    .events .eventdateinner{
        padding: 20px 20px;
    }

    .events .icon{
        margin-right: 20px;
    }
    
        .events h4{
            padding-top: 10px;
        }
    
        .gallery .galleryitems{
            -ms-grid-columns: auto;
          grid-template-columns: auto;
        }
    
        .initiatives .row{
            -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        .noticeinner{
            grid-template-columns:auto;
        }
    
            footer .footerinner{
                display: grid;
                grid-template-columns: 1fr;
            }
    
            footer .footerinner div:nth-child(2){
                align-items: start;
            }
    
            footer .footerinner div:nth-child(2) h5{
                margin-left:0px;
            }
    
    }
    
    @media(max-width:992px) and (min-width:578px){
        nav{
           max-width:1000px !important;
        }
    
        header .topside .topsideinner{
            justify-content: flex-end;
         }
    
        footer .container{
            max-width: 1000px !important;
        }
    }
    
    @media(max-width:578px){
    
        header .topside{
            padding: 5px 5px 10px 15px;
        }
        header .topside ul{
           display: none;
        }

        header .topside{
            width: 75%;
        }
    
        header .homelogin{
            display: block;
        }
    
        nav .menu.show{
            width: 100vw;
        }
    
        header .topside{
            right: -20px;
            padding: 0px 15px;
        }
        header .topside input{
            width: 100%;
           max-width: 1000px;
            margin: 5px auto;
            height: 100%;
        }
        
        .sliderinneritem1 .carousel-caption{
           left: 15px;
        }
    
        .carousel .item3 .carousel-caption{
            width: 100%;
            margin: 0px;
            max-width: auto;
            left: 0px;
            padding: 0px 15px;
        }
    
        .carousel .item2 .carousel-caption{
            width: 100%;
            margin: 0px;
            max-width: auto;
            left: 0px;
            padding: 0px 15px;
        }
    
        .sliderinneritem1 .right-item{
            right: -900px;
        }
    
        .sliderinneritem1 .left-item{
            padding: 0px 15px 0px 15px;
        }
    
        .carousel .item5 .carousel-caption .caption{
            padding-left: 15px;
        }  
       .carousel .carousel-item:nth-child(1) .carousel-caption button{
        padding: 5px 20px;
        border-radius: 20px;
        border: none;
        font-size: 12px;
        cursor: pointer;
         width: 100%;
        min-width: 50px;
        max-width: 110px;
        
    
    
    }
    .carousel .carousel-item:nth-child(1) .carousel-caption button:nth-child(2){
        right: 0px !important;
        position: absolute;
    }
    
    .carousel .carousel-item:nth-child(2) .carousel-caption button{
        padding: 5px 10px;
        margin-top: 5px;
        font-size: 12px;
        min-width: 50px;
        max-width: 130px; 
    }
    
    .carousel .carousel-item:nth-child(3) .carousel-caption button{
        position: absolute;
        top: 68.5%;
        left: 9%;
        padding: 5px 10px;
        font-size: 12px;
        max-width: 120px;
       
    }
    
    .carousel .carousel-item:nth-child(4) .carousel-caption button{
        padding: 5px 20px;
        font-size: 12px;
        min-width: 50px;
        max-width: 110px;
        bottom: 2px;
       
    }
    
    .carousel .carousel-item:nth-child(5) .carousel-caption button{
        padding: 5px 20px;
        border: none;
        font-size: 12px;
        min-width: 50px;
        max-width: 110px;
       
    } 
    
    .About .right div div:nth-child(2){
        max-width:1000px;
        text-align: center;
        margin-left: 0px !important;
    }

      .eventdateinner{
            display: flex;
            justify-content:center ;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }
    
    @media(max-width:350px){
        .carousel .carousel-item:nth-child(1) .carousel-caption{ 
            top: 60% !important;
            left: 5%;
            right: 5%;
        }
    }


