
/* resetting padding margin */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.carousel-control-next, .carousel-control-prev{
 
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #2a67b5;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 50%;
    padding: 10px !important;
    top: 0px;
} 

html{
    padding: 0px;
    margin: 0px;
    /* overflow-x: hidden; */

}

body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}

/* styling header */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header.addshadow{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0,0.5);
}


header .topside{
    background-color: #2a67b5;
    width: 45%;
    margin-left: auto;
    padding: 6px 5px 12px 50px;
    transform: skewX(30deg);
    position: absolute;
    right: -20px;
    top:0px;
}

header .topside .topsideinner{
    display: flex;
    align-items: center;
    transform: skewX(-30deg);
}


header .topside input{
    border: 2px solid white;
    border-radius: 15px;
    background-color: transparent;
    padding: 0px 5px 5px 5px;
    color: white;
    width: 100%;
    height: 25px;
    max-width: 132px;
    outline: none;
}

header .topside input:focus{
    border: 2px solid white;
    border-radius: 15px;
    background-color:#4b0027;
}

header .topside input::placeholder{
    color: white;
    padding-left: 12px;
    font-weight: bold;
    font-size: 14px;
}

header .topside ul{
    display:flex;
    align-items: center !important;
    margin-bottom: 0px!important;
    
}

header .topside ul li{
    list-style: none;
    margin-left: 13px;
    color:white;
    cursor: pointer;
    height: 100%;
    font-size: 14px;
}
/* styling navbar */
header nav{
     display: flex;
     height: 100%;
     align-items: center;
}

header .navleft .logo{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    padding-top:4px;
}


header nav img{
    width: 100%;
    max-width: 100px;
}

header .navright{
    display: flex;
    align-self: flex-end;
    height: 100%;
}

header .menu{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 0px!important;
}

header .menu li{
    list-style: none;
    margin: 0px 10px;
    padding-bottom: 5px;
    font-family: 'poppins';
    color: black;
    cursor: pointer;
    font-size: 18px;
}

header .menu  li a{
    text-decoration: none;
    color: black;
}

header .menu li a:hover{
    color: #2a67b5;
}

/* styling dropdown */

header .menu .dropdown{
    position: absolute;
    bottom: -264px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    border: 2px solid #2a67b5;
    width: 928px;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

header .menu li:hover>.dropdown{
   display: flex;
}


header .menu .dropdown .right{
    margin-left: 50px;
}

header .menu .dropdown ul li{
    margin-bottom: 3px;
    padding-bottom: 0px;
    height: auto;
    position: relative;
    width: auto;
    font-size: 14px;

}

header .menu .dropdown ul span i{
    background-color: #2a67b5;
    color: white;
    padding:3px 5px;
}

header .menu .dropdown ul li a{
    font-weight: lighter;
}

header .menu .dropdown ul li:hover a{
    color: #2a67b5;
}


header .menu .dropdown ul span{
    font-weight: bold;
    margin-left: -5px;
}


header .homelogin{
    display: none;
}
/* style bar */
.fa-bars{
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.fa-bars:hover{
    color: #2a67b5;
}


/* style slider */

.slider{
    width: 100%;
    overflow-x: hidden;
    padding-top: 100px;
}


.carousel-inner{
    height: 100%;
}

.carousel .carousel-item{
    width: 100%;
    height: 100%;   
    min-height: 50vh;
    height:calc(100vh - 100px);
}
.sliderinneritem1{
    background-image:url('images/Banner/slider1(a).jpg');
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;
}

.sliderinneritem1 .cover{
    background-color:rgba(0, 0, 0,0.5) ;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    position: absolute;
}

.sliderinneritem1 h2{
    margin-bottom: 12px!important;
    color: rgb(255, 255, 255);
}

.sliderinneritem1 p{ 
    margin: 0px !important;
    font-size: 23px;
    max-width: 300px;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.sliderinneritem1 small{ 
    margin-top: 9px!important;
    font-size: 16px;
    font-weight: bold;
    color: #b3b3b3;
}



.sliderinneritem1 .left-item .topimage{
    position: relative;
    text-align: center;
    max-width: 280px;
    margin-bottom: 27px;
}

.sliderinneritem1 .left-item .topimage img:nth-child(1){
  width:125px;
  height: 124px;
}

.sliderinneritem1 .left-item .topimage img:nth-child(2){
   position: absolute;
   top:23px;
   left: 50%;
   transform: translateX(-50%);
  }





.sliderinneritem1 .right-item{
   display: flex;
   justify-self: flex-end;
   position: absolute;
   top: 0px;
   width: 100%;
   height: 100vh;
  
}

.sliderinneritem1 .carousel-caption{
    text-align: start;
    top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    z-index: 1;
}


.sliderinneritem1 .right-item img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.sliderinneritem1 button{
    background-color: #b43d3f;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    padding: 7px 45px 8px 42px;
    width: 148px;
    border: none;
    cursor: pointer;
    margin:23px 0px;
    height: 34px;
}

.sliderinneritem1 button:nth-child(2){
    padding: 7px 31px 8px 33px;
    margin-left: 17px;
}

.sliderinneritem1 button:hover{
    background-color: #4b0027;
}



.carousel .carousel-control-prev{
    background-color: #2a67b5 !important;
    top:5px !important;
    bottom: auto!important;
}

.carousel .item2 .carousel-caption{
    top: 0px;
    text-align: start;
    max-width:500px ;
    left: -250px!important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.carousel .item2 img{
    width: 100%!important;
    height: 100%!important;
    object-fit: cover!important;
}

.carousel .item2 h2{
font-size: 50px;
font-weight: bold;
}

.carousel .item2 button{
    background-color: #d99a3d;
    width: 173px;
    height: 53px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    padding: 12px 34px 13px 28px;
    cursor: pointer;
    margin-top: 24px;
}

.carousel .item2 button:hover{
    background-color:#ff0000;
}

/* style caraousel item3 */
.carousel .item3 .carousel-caption{
    max-width: 550px;
    top:0px;
    text-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: -200px;
    }

    .carousel .item3 h2{
        font-size: 50px;
        font-weight: bold;
        color: black;
        }

        .carousel .item3 h2 span{
            font-size: 50px;
            font-weight: bold;
            color: #303c4b;
            margin: 0px!important;
            padding: 0px!important;
            }

            .carousel .item3 p{
                font-size: 28px;
                color: black;
                margin: 0px!important;
            }

            .carousel .item3 button{
                background-color: #d99a3d;
                max-width: 221px;
                height: 53px;
                font-size: 20px;
                border: none;
                border-radius: 20px;
                padding: 5px 30px;
                cursor: pointer;
                margin-top: 28px;
            }

            .carousel .item3 button:hover{
                background-color:#ff0000;
            }

            .carousel .item3 .slideimg{
                width: 100%!important;
                height: 100%!important;
                object-fit: cover;
            }
               
    /* style carousel item4 */

    .carousel .item4 .carousel-caption{
        bottom: 0px;
        top: 0px;
    }

    .carousel .item4{
        background-color: #f1f1f1;
    }

    .carousel .item4 button{
        background-color: #ffb500;
        color: black;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-radius: 20px;
        padding: 3px 15px;
        width: 155px;
        height: 42px;
    }

    .carousel .item4 button:hover{
        background-color: #4b0027;
    }

    .carousel .item4 img{
        width: 100% !important;
          }


     /* style carousel item5 */

     .carousel .item5 .carousel-caption{
        bottom: 0px;
        top: 0px;
    }

    .carousel .item5 .carousel-caption .caption{
        position: absolute;
        text-align: start;
        left: 300px;
        top:50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .carousel .item5 .carousel-caption img{
        position: absolute;
        bottom: 0px;
        left: 0px; 
        width: 100%;
        max-width: 274px;
    }

    .carousel .item5 .slideimg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel .item5 .topimg{
        position: absolute;
        top: 0px;
    }

    .carousel .item5 button{
        border: none;
        border-radius: 20px;
        font-size: 16px;
        padding: 3px 20px;
        width: 155px;
        height: 42px;
        background-color: #2a67b5;
        color: white;
        margin-left: 15px;
        cursor: pointer;
    }

    .carousel .item5 button:hover{
        background-color: #4b0027;
    }

    .carousel .item5 h3{
        font-size: 39px;
    }

    .carousel .item5 h2{
        font-size: 49px;
        margin-left: 5px;
        font-weight: 500;
    }

    .carousel .item5 .bottomtxt{
        color: #ffb500;
        margin-left: 10px;
        font-weight: 500;
    }


    /* isccm-connect */

    .isccm-connect{
        background-color: #2a67b5;
        padding: 45px 0px 30px 0px;

    }

    .isccm-connect span{
        font-size: 23px;
        color: white;
        margin-left: 14px;
    }

    .isccm-connect img{
        width: 35px;
        height: 35px;
    }

    .isccm-connect input{
        width: 100%;
        max-width: 244px;
        margin-left: 33px;
        padding: 13px 33px 8px 16px;
        border: none;
        outline:none;
        color: white;
    }

    .isccm-connect input:focus{
     background-color: #ff0000;
    }

    .isccm-connect input:focus::placeholder{
        color: white;
    }

    .isccm-connect button{
        width: 113px;
        height: 38px;
        background-color: #d99a3d;
        border-radius: 20px;
        font-size: 16px;
        margin-left: 20px;
        border: none;
        cursor: pointer;
    }

    .isccm-connect button:hover{
        background-color: #ff0000;
    }

    .About{
      background-image: url("images/about bg.png"); 
      background-repeat: no-repeat;
      height: 627px;
    }

    .About .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 627px;
        background-image: url("images/aboutleft bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .About .left h2{
        font-size: 30px;
        padding: 0px!important;
        margin: 0px!important;
    }

    .About .left span{
        font-size: 20px;
        padding: 0px!important;
    }

    .About .left p{
        margin-top: 40px;
        font-size: 18px;
        color: #535252;
    }

    .About .left button{
        width: 155px;
        background-color: #ffb500;
        font-size: 15px;
        border: none;
        border-radius: 20px;
        padding: 13px 44px 15px 36px;
        cursor: pointer;
        margin-top: 10px;
    }

    .About .left button:hover{
        background-color: #4b0027;
    }

    .About .right{
        height: 627px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .About .right>div{
        margin-bottom: 10px;
    }
    
    .About .right span{
        display: block;
    }

    .About .right .roundshape{
        width: 123px;
        height: 123px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    .About .right .roundshape{
        max-width: 280px;
    }

    .About .right div:nth-child(1) .roundshape{
        background-color: #2a67b5;
    }

    .About .right div:nth-child(2) .roundshape{
        background-color: #303c4b;
    }

    .About .right div:nth-child(3) .roundshape{
        background-color: #66788d;
    }

    .About .right div:nth-child(4) .roundshape{
        background-color: #0972f5;
    }

    .About .right div div:nth-child(2) span{
        font-size: 18px;
        color: #535252;
    }


    .About .right a{
        color: #b43d40;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
    }
@media (min-width:992px){
    .container{
    width:970px ;
    }
}
@media (min-width:1200px){
    .container{
    width:1170px ;
    }
}

/* css for responsive navbar */
@media(max-width:1010px){
    header .fa-bars{
        display: block;
    }

    header .topside{
        width: 60%;
    }
    header .topside .topsideinner{
        margin-left: auto;
        justify-content: flex-end;
        padding-right: 20px;
    }
    nav .menu{
        position: fixed;
        left:0px;
        top:100px;
        bottom: 0px;
        flex-direction: column;
        background-color: #2a67b5;
        transform: translateX(0%);
        width: 300px;
        overflow-y: scroll;
        transform: translateX(-100%);
        transition: 0.5s;
        overflow-x: hidden;
    }


    header .homelogin li{
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
    }


    header .topside input{
    width: 200px;
    }

    nav .menu.show{
        transform: translateX(0%);
    }

    nav .menu::-webkit-scrollbar{
        visibility: hidden;
        width: 5px;

    }

    nav .menu::-webkit-scrollbar-thumb{
        border-radius: 15px;
        background-color: rgb(187, 187, 187);
    }

    nav .menu .dropdown span{
     color: black;
    }

    nav .menu li{
        border-bottom: 1px solid white;
        padding: 10px 0px;
        cursor: pointer;
        color: white;
        transition: 0.5s;
    }


    nav .menu li a{
        color: white;
    }

    nav .menu li:hover a{
        color: #ffffff;
    }

    nav .menu .dropdown{
        position: static;
        flex-direction: column;
        width: 100%;
        transform: translateX(0%);
        border: none;
    }

    header .menu .dropdown ul li::before{
        display: none;
    }

    nav .menu .dropdown ul li a{
        color: black;
    }

    header .menu .dropdown .right{
        margin-left: 0px;
    }


    /* .sliderinneritem1 .right-item{
        left: 60%;
        display: none;
       
    } */

     .carousel .item2 .carousel-caption{
         left: 0px!important;
     }

     .carousel .item3 .carousel-caption{
        left: 0px;
    }

     .carousel .item5 .carousel-caption .caption{
         left: 0px;
         width: 100%;
         height: 100%;
         padding-left: 100px;
     }

     .carousel .item5 .carousel-caption{
         left: 0px;
         right: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         bottom: 0px;
         overflow: hidden;
         margin: 0px;
         max-width: 1000px;
     }

     
}

@media(max-width:992px){
    .isccm-connectinner{
        flex-direction: column;
    }

    .isccm-connect input{
        width: 100%;
        max-width:2000px;
        margin: 10px 0px;
    }


    .About{
        height: auto;
    }

    .About .left{
        height: auto;
        margin-top: 30px;
    }

    .About .right{
        height: auto;
        margin-top: 30px;
    }



}

@media(max-width:768px){

    header .topside{
        width: 70%;
    }
    .carousel-item{
        max-height: 100vh;
    }
   


    

     .carousel .item4 button{
         bottom: 250px;
     }

     .carousel .item5 .carousel-caption img{
        left: -100%;
    }


}



@media(max-width:675px){
    header .topside{
        width: 75%;
    }


}

@media(max-width:578px){

    header .topside{
        padding: 5px 5px 5px 15px;
    }
    header .topside ul{
       display: none;
    }

    header .homelogin{
        display: block;
    }


    header .topside{
        right: -10px;
    }
    header .topside input{
        width: 100%;
        max-width: 300px;
        margin:auto;
    }
    
    nav .menu{
        width: 100vw;
        transition: 0.5s;
    }

    .sliderinneritem1 .carousel-caption{
       left: 15px;
    }

    .carousel .item3 .carousel-caption{
        width: 100%;
        margin: 0px;
        max-width: auto;
        left: 0px;
        padding: 0px 15px;
    }

    .carousel .item2 .carousel-caption{
        width: 100%;
        margin: 0px;
        max-width: auto;
        left: 0px;
        padding: 0px 15px;
    }

    .sliderinneritem1 .left-item{
        padding: 0px 15px 0px 15px;
    }

    .carousel .item5 .carousel-caption .caption{
        padding-left: 15px;
    }

    
    .About .right>div{
        flex-direction: column;

        
    }

    .About .right div div:nth-child(2){
        max-width:1000px;
        text-align: center;
        margin-left: 0px !important;
    }
    
}