:root{
    /* colors */
    --color1:#2a67b5;
    --color2:#ffb500;
    --color3:#b43d40;
    /* section padding */
    --gap:50px 0px;
}

/* website buttons */

button , .btn{
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
}

/* yellow buttons */
.btn-yellow{
    background-color: var(--color2);
    border: 1px solid transparent;
}
.btn-yellow:hover{
    background-color: white;
    color:var(--color2);
    border: 1px solid var(--color2);
}

/* red button */
.btn-red{
    background-color: var(--color3);
    color: white;
    border: 1px solid transparent;
}

.btn-red:hover{
    border: 1px solid var(--color3);
    background-color: white;
    color: var(--color3);
}

/* section gap */
.section-gap{
    padding: 50px 0px;
}


/* fonts */
@font-face {
    font-family: 'Poppins-Regular';
    src: url(fonts/Poppins-Regular.ttf);
} 

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins-SemiBold.ttf);
} 

@font-face {
     font-family: 'Poppins-Bold';
     src: url(fonts/Poppins-Bold.ttf);
 }

/* resetting padding margin */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

h2{
    margin-top: 0px !important;
    font-family: 'Poppins-Bold';
    font-size: 30px !important;
}


body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}

/* style header */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: white;
    z-index: 5;
}

header.addshadow{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0,0.5);
}


header .topside{
    background-color:var(--color1);
    width: 45%;
    margin-left: auto;
    padding: 8px 15px 8px 50px;
    transform: skewX(30deg);
    position: absolute;
    right: -20px;
    top:0px;
    z-index:3;
}

header .topside .topsideinner{
    display: flex;
    align-items: center;
    transform: skewX(-30deg);
}


header .topside input{
    border: 2px solid white;
    border-radius: 15px;
    background-color: transparent;
    padding: 0px 5px;
    color: white;
    width: 100%;
    max-width: 132px;
    outline: none;
    font-family: 'Poppins-Regular';
    padding: 0px 0px 0px 12px;
}



header .topside input::placeholder{
    color: white;
    font-family: 'Poppins-Regular';
}


header .topside ul{
    display:flex;
    align-items: center !important;
    margin-bottom: 0px!important;  
    padding: 0px !important;
}

header .topside ul li{
    list-style: none;
    margin-left: 13px;
    padding-bottom: 5px;
}

header .topside ul li a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins-Regular'

}
/* style navbar */
header nav{
     display: flex;
     height: 100%;
     align-items: center;
}

header .navleft .logo{
    text-decoration: none;
}


header nav img{
    width: 100%;
    max-width: 60px;
}

header .navright{
    display: flex;
    align-self: flex-end;
    height: 100%;
}

header .menu{
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 0px!important;
    width: 100%;
    max-width: 638px;
}

header .menu li{
    list-style: none;
    margin: 0px 0px;
    padding: 10px 10px 12px 10px;
    font-family: 'poppins';
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Poppins-SemiBold';
}

header .menu  li a{
    text-decoration: none;
    color: black;
}

header .menu li:hover a{
    color:var(--color1);
}

header .follow{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
}

/* style dropdown */
header .menu .dropdown{
    position: absolute;
    top:45px;
    background-color: rgb(255, 255, 255);
    border: 2px solid white;
    padding:0px;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    opacity:0;
    transition:  opacity 0.5s;
    height: 0px;
    z-index: 0;
}


header .menu li:hover .dropdown{
   height:auto;
   overflow: visible;
   opacity: 1;
   z-index: 1;
   padding: 10px;
   border: 2px solid var(--color1);
}




header .menu .dropdown ul li{
    margin-top: 5px ;
    height: auto;
    position: relative;
    width: auto;
    font-size: 14px;
    padding: 0px!important;
   
}

header .menu li:hover .dropdown a{
    color: black;
}

header .menu .dropdown ul span i{
    background-color:var(--color1);
    color: white;
    padding:3px 5px;
    margin-left: 5px;
}

header .menu .dropdown ul li a{
    font-family: 'Poppins-Regular';
}

header .menu .dropdown  a:hover{
    color: var(--color1) !important;
}


header .menu .dropdown ul span{
    font-weight: bold;
    cursor: auto;
    font-family: 'Poppins-SemiBold';
}




header .homelogin{
    display: none;
}

header .homelogin li{
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
}

/* style bar */

 .bar {
    height: 35px;
    width: 40px;
    bottom: 10px;
    right: 15px;
    position:absolute;
    border-radius: 10px;
    display: none;
    cursor: pointer;
  }
  
   .bar span {
    background-color: var(--color1);
    height: 4px;
    width: 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .bar span:nth-child(1) {
    top: 5px;
    background-color: black;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
   .bar span:nth-child(2) {
    top: 15px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
   .bar span:nth-child(3) {
    top: 25px;
    background-color: black;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
   .bar.show span:nth-child(2) {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  
   .bar.show span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 10%;
    top: 50%;
  }
  
   .bar.show span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 10%;
    top: 50%;
  }

/* style breadcrumbs */

.breadcrumb-cont{
    border-top: 1px solid #0972f5 !important;
    margin-top: 100px;
    padding: 5px 0px;
    font-family: 'Poppins-Regular', sans-serif;
}

.breadcrumb{
    border-radius: 0px !important;
    background-color: transparent !important;
    margin-bottom: 0px;
    padding: 5px 15px!important;
}

.breadcrumb li a{
    text-decoration: none;
    color:  black;
}

.follow i{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    padding: 12px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.follow .fa-facebook-f{
    background-color: #3c579a;
}

.follow .fa-twitter{
    background-color: #54abee;
}

.follow .fa-linkedin{
    background-color: #0d75a6;
}

.follow .fa-youtube{
    background-color: #fe0000;
}

/* style slider */
.slider{
    padding-top: 100px;
}
.carousel .carousel-caption{
    text-align: start;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    font-family: 'Poppins-Regular';
    z-index: 1;
}



.carousel-control-prev,.carousel-control-next{
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--color1);
    margin: 0px 20px;
    opacity: 1;
    z-index: 4;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    color: white;
} 

 .carousel .carousel-item:nth-child(1) .carousel-caption{ 
     left: 10%;
     top:72% !important;
     bottom: auto !important;
     padding: 0px!important;
     right: 10%;
}

.carousel .carousel-item:nth-child(1) .carousel-caption button{
    padding: 8px 20px;
    font-size: 16px;
     width: 100%;
    min-width: 50px;
    max-width: 150px;


}

.carousel .carousel-item:nth-child(1) .carousel-caption button:nth-child(2){
    margin-left: 5px;     
  }

.carousel .carousel-item:nth-child(2) .carousel-caption button{
    position: absolute;
    top: 55%;
    left: 10%;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    min-width: 50px;
    max-width: 170px; 
}

.carousel .carousel-item:nth-child(3) .carousel-caption button{
    position: absolute;
    top: 68.5%;
    left: 9%;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    min-width: 150px;
    max-width: 170px;
}

.carousel .carousel-item:nth-child(4) .carousel-caption button{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    min-width: 50px;
    max-width: 170px;
}

.carousel .carousel-item:nth-child(5) .carousel-caption button{
    position: absolute;
    top: 65%;
    left: 37%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: #0972f5;
    width: 100%;
    min-width: 50px;
    max-width: 170px;
    color: white;  
} 

    /* style isccm-connect */

    .isccm-connect{
        background-color:var(--color1);
    }

    .isccm-connect span{
        font-size: 23px;
        color: white;
        margin-left: 14px;
        font-family: 'Poppins-SemiBold';

    }

    .isccm-connect img{
        width: 35px;
        height: 35px;
    }

    .isccm-connect input{
        width: 100%;
        max-width: 244px;
        margin-left: 33px;
        padding: 8px 33px 8px 16px;
        border: none;
        outline:none;
    }

    .isccm-connect input::placeholder{
        color: #bababa;
    }

    .isccm-connect button{
        width: 113px;
        height: 38px;
        font-size: 16px;
        margin-left: 20px;
        font-family: 'Poppins-Regular';
    }

    .isccm-connect button:hover{
        opacity: 0.5;
    }

    .About{
      background-image: url("images/about bg.png"); 
      background-repeat: no-repeat;
    }

    .About .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-image: url("images/aboutleft bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .About .left span{
        font-size: 20px;
        padding: 0px!important;
        font-family: 'Poppins-Regular';

    }

    .About .left p{
        margin-top: 40px;
        font-size: 18px;
        color: #535252;
        font-family: 'Poppins-Regular';
        max-width: 588px;
    }

    .About .left button{
        width: 155px;
        font-size: 15px;
        padding: 13px 44px 15px 36px;
        margin-top: 10px;
        font-family: 'Poppins-Bold';
    }

    .About .right>div{
        margin-bottom: 10px;
    }

    .About .right>div:nth-child(4){
        margin-bottom: 0px;
    }
    
    .About .right span{
        display: block;
    }

    .About .right .roundshape{
        width: 50px;
        height: 50px;
        padding: 60px;
        border-radius: 50%;
        display: grid;
        place-content: center;
        text-align: center;
        color: white;
    }

    .About .right .roundshape{
        max-width: 280px;
    }
    .About .right .roundshape span:nth-child(1){
        font-family: 'Poppins-Bold';
        font-size: 22px;
        padding: 0px !important;
    }

    .About .right .roundshape span:nth-child(2){
        font-family: 'Poppins-Regular';
        font-size: 16px;
        padding: 0px !important;
    }

    .About .right div:nth-child(1) .roundshape{
        background-color: #2a67b5;
    }

    .About .right div:nth-child(2) .roundshape{
        background-color: #303c4b;
    }

    .About .right div:nth-child(3) .roundshape{
        background-color: #66788d;
    }

    .About .right div:nth-child(4) .roundshape{
        background-color: #0972f5;
    }

    .About .right div div:nth-child(2) span{
        font-size: 18px;
        color: #535252;
    }


    .About .right .roundshape+div span{
        font-family: 'Poppins-Regular';
        font-size: 18px;
    }


    .About .right a{
        color: #b43d40;
        text-decoration: none;
        font-family: 'Poppins-Bold';;
        font-size: 22px;
    }

    .About .right a:hover{
        color: #0972f5;
    }

    /* style events */

    .events .left{
        max-width: 797px;
    }
    .events .left p{
        font-family: 'Poppins-Regular';
        font-size: 18px;
        color: #5a5858;
}

    .events button{
        width: 155px !important;
        font-size: 16px;
        padding: 13px 19px;
        font-family: 'Poppins-Bold';   
    }

    .events .eventsimg{
        display: -ms-grid !important;
       display: grid !important;
       -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        padding-top: 50px;

    }

    .events .eventsimg div:nth-child(1){
        -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
      
    }

    .events .eventsimg div:nth-child(2){
        grid-column: 3/-1;
    }

    .events .eventsimg img{
        width: 100% !important;
        height: 100%;
    }

    .eventdate{
      width: 100%;
      margin-top: 50px;
    }
   
        .events .eventdateinner{
            border: 1px solid #c8c8c8;
            box-shadow: 0px 2px 5px 0px #c8c8c8;
            margin-top: 20px;
            padding: 20px 0px;
            align-items: center;
        }

        .events .icon{
            background-color:#2a67b5;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 50px;
        }

        .events h4{
            font-family: 'Poppins-Regular';
            font-size: 18px;
            padding-bottom: 5px !important;
            margin: 0px !important;
        }

        .events span{
            color: #b43d40;
            font-size: 18px;
            font-family: 'Poppins-Regular';
            
        }

        /* style gallery*/
        .gallery .galleryitems{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: 20px;
            padding-top: 20px;
        }

        .gallery .card{
            padding: 0px !important;
            border: 1px solid #c5c5c5;
            box-shadow: 0px 5px 5px 0px #979797;
        }

        .gallery .cardtop{
            position: relative;
        }

        .gallery .card .icon{
            width: 66px;
            height: 66px;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;

        }

        .gallery p{
            font-family: 'Poppins-Regular';
            font-size: 18px;
            color: #5a5858;
            max-width: 724px;
        }

        .gallery h5{
            font-size: 13px;
            font-family: 'Poppins-Bold';

        }

        .gallery span{
            font-size: 13px;
            font-family: 'Poppins-Regular';
            color: #5a5959;
            display: block;

        }

        .gallery button{
            width: 100px;
            font-size: 13px;
            font-family: 'Poppins-Regular';
            padding: 8px 10px;
            margin-top: 10px;
        }

        /* style initiatives */
        .initiatives {
            font-family: 'Poppins-Regular'; 
            background-color:#efefef;
            padding: 50px 15px 50px 15px;
        }

        .initiatives .row{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-auto-rows: 1fr;
            grid-gap: 20px;
            padding-top: 20px;
        }


        .initiatives p{
            color: #595858;
            font-size: 18px;
            max-width: 724px;
            font-family: 'Poppins-Regular';
        }
        
        .initiatives h5{
            text-align: center;
            font-family: 'Poppins-SemiBold';
            padding-top: 10px;
        }

        .initiatives span{
            padding: 10px 0px;
            font-family: 'Poppins-Regular';
        }

        .initiatives a{
            text-decoration: none;
            color: #b43d40;
            font-size: 18px;
            font-family: 'Poppins-Regular';
        }

        .initiatives a:hover{
        color: #2a67b5;
        }

        .initiatives i{
            color: black;
        }


        .initiatives img{
            width: 100%;
            max-width: 150px;
            margin: auto;
        }

        .initiatives .card{
            border: 1px solid #9e9c9d;
            padding-top: 20px;
        }


    /* style notice */

    .notice{
        padding: 50px 15px;
        font-family: 'Poppins-Regular';
    }

    .notice h4{
        font-size: 24px;
        color: #616060;
    }

    .notice .media .left{
        position: relative;
    }
    .notice .media .left img{
        height: 55px;
    }
    .notice .date{
        position: absolute;
        left: 15px;
        top:18px;
        bottom: 0px;
    }
    .notice .date span{
        display: block;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 12px;
        text-align: center;
    }

    .notice .date span:nth-child(1){
     color: #89314d;
     font-weight: bolder;
    }
    

    .notice a{
        text-decoration: none;
        color: var(--color3);
        font-family: 'Poppins-Bold';
    }

    .notice a:hover{
    color: #2a67b5;
    }

    .notice .media{
        padding-bottom: 0px;
        margin: auto 0px !important;
        padding: 10px 0px;
    }

    .notice .container .row{
        padding-top: 20px;
    }

  


    /* style footer */


    footer{
        background-color: #404040;
        color: white;
        font-family: 'Poppins-Regular';
    }
    footer li{
        list-style: none;
    }

    footer a{
        text-decoration: none !important;
        color: white;
    }

    footer a:hover{
        color: white;
    }

    footer h5{
        font-family: 'Poppins-SemiBold';
    }

    footer .container{
        padding: 50px 0px !important;
    }
    
    footer .footerinner{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 15px;
    }

     footer .footerinner div:nth-child(2){
        display: flex;
        align-items: center;
        flex-direction: column;
    } 

    footer .footerinner div:nth-child(2) h5{
        margin-left: -10px;
    }

    footer  .copyright{
        text-align: center;
        font-size: 12px;
        background-color: #0972f5;
        color: #fefefe;
        font-family: 'Poppins-Regular';
        padding: 10px 0px;
        box-shadow: 0px 5px 5px #252525;
    }


    @media(min-width:992px){
header .menu li{
    font-family: 'Poppins-SemiBold';
    overflow: hidden;
    position: relative;
}

header .menu .dropdown{
    position: absolute;
    top:47px;
    padding:0px;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    opacity:0;
    transition: opacity 0.5s;
    height: 0px;
    z-index: 1;
}

header .menu li:hover{
    overflow: visible;
}

header .menu li:hover .dropdown{
   height:auto !important;
   overflow: visible;
   opacity: 1;
   z-index: 1;
   padding: 20px;
   border: 2px solid var(--color1);
}


header .menu li:nth-child(3):hover .dropdown{
    left: -180px !important;
    width: 725px;
}


header .menu .dropdown ul li{
    margin-top: 5px ;
    height: auto;
    position: relative;
    width: auto;
    font-size: 14px;
    padding: 0px!important;
   
}

header .menu .dropdown ul span i{
    background-color:var(--color1);
    color: white;
    padding:3px 5px;
    margin-left: 5px;
}

header .menu li:nth-child(2) .dropdown{
    width: 639px;
    left: -100px !important;
}

header .menu li:nth-child(4) .dropdown{
    width: 579px;
    left: -200px !important;
}

header .menu li:nth-child(5) .dropdown{
    width: 523px;
    left: -200px !important;
}
    }

@media (min-width:1200px){
    .container{
    width:1170px ;
    }

    .initiatives .row{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (minmax(290px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        padding-top: 20px;
        }
}

@media (max-width:1200px){
    .initiatives .row{
        display:grid !important;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
        }

        header .topside{
            width: 50%;
        }        
}

@media(max-width:1300px){
    .sliderinneritem1 .right-item{
        right: -45%;
    }
}
@media(max-width:992px){

    .About{
        height: auto;
        background-size: cover;
    }
    
    .About .left{
        height: auto;
    }
    
    .About .right{
        height: auto;
        padding-top: 50px;
    }
    
    .About .right span{
        padding-top:10px;
    }
    
    .menu-item{
        position: relative;
       
    }


    .dropicon{
        position: absolute;
        top: 22px;
        right: 30px;
        background-color: brown;
    }

    .dropicon i{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s;
        /* right: 10px; */
    }

    header .menu li:hover .dropdown{
        display: block;
     }
     

    header .topside{
        width: 60%;
    }

    .isccm-connectinner{
        flex-direction: column;
    }

    .isccm-connect input{
        width: 100%;
        max-width:2000px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .isccm-connect button{
        margin-left: 0px;
        margin-top: 20px;
    }


     .bar{
        display: block;
    }

    header .topside .topsideinner{
        margin-left: auto;
        padding-right: 20px;
    }
    nav .menu{
        position: fixed;
        left:0px;
        top:100px;
        bottom: 0px;
        width: 50vw;
        flex-direction: column;
        background-color: #2a67b5;
        overflow-y: scroll;
        transition: 0.5s;
        transform: translateX(-100%);
        overflow-x: hidden;
        max-width: 1000px;
        transition: 0.5s;
        padding: 0px 10px;
    }

    nav .menu.show{
        transform: translateX(0%);
    }

    nav .menu .dropdown li{
       margin-top: 2.5px;
       margin-bottom: 2.5px;
    }

    header .homelogin li{
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition:all 0.5s;
    }


    header .topside input{
    width: 200px;
    }


    nav .menu::-webkit-scrollbar{
        visibility: hidden;
        width: 5px;

    }

    nav .menu::-webkit-scrollbar-thumb{
        border-radius: 15px;
        background-color: rgb(187, 187, 187);
    }

    nav .menu .dropdown span{
     color: black;
    }

    nav .menu li{
        border-bottom: 1px solid white;
        padding: 10px 0px;
        cursor: pointer;
        color: white;
        transition: 0.5s;
    }


    nav .menu li a{
        color: white;
    }

    nav .menu li:hover a{
        color: #ffffff;
    }

    
    header .menu .dropdown{
        position:static;
        transform: translateX(0%);
        background-color: rgb(255, 255, 255);
        border:none;
        padding:0px;
        border-radius: 5px;
        width: 100%;
        display: none;
        flex-direction: column;
    }

    header .menu li:hover .dropdown{
        display: block;
     }


header .menu li:nth-child(1):hover .dropdown,header .menu li:nth-child(2):hover .dropdown,header .menu li:nth-child(3):hover .dropdown,header .menu li:nth-child(4):hover .dropdown{
    width: 100%;
    padding: 10px;
}


    nav .menu .dropdown ul li a{
        color: black;
    }



    .sliderinneritem1 .right-item{
        right: -768px;
    }

     .carousel .item2 .carousel-caption{
         left: 0px!important;
     }

     .carousel .item3 .carousel-caption{
        left: 0px;
    }

     .carousel .item5 .carousel-caption .caption{
         left: 0px;
         width: 100%;
         height: 100%;
         padding-left: 100px;
     }

     .carousel .item5 .carousel-caption{
         left: 0px;
         right: 0px;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         bottom: 0px;
         overflow: hidden;
         margin: 0px;
         max-width: 1000px;
     }

     .initiatives .row{
        -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

     
}



@media(max-width:768px){

    header .topside{
        width: 65%;
    }

    nav .menu{
        width: 100vw;
        transition: 0.5s;
    }
    
    .carousel-item{
        max-height: 100vh;
    }
   
     .carousel .item4 button{
         bottom: 250px;
     }

     .carousel .item5 .carousel-caption img{
        left: -100%;
    }

    .sliderinneritem1 .right-item{
        right: -800px;
    }

    
    
.carousel .carousel-item:nth-child(1) .carousel-caption button{
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
     width: 100%;
    min-width: 50px;
    max-width: 120px;


}


.carousel .carousel-item:nth-child(2) .carousel-caption button{
    padding: 5px 20px;
    margin-top: 5px;
    font-size: 16px;
    background-color: #d99a3d;
    min-width: 50px;
    max-width: 130px; 
}

.carousel .carousel-item:nth-child(3) .carousel-caption button{
    position: absolute;
    top: 68.5%;
    left: 9%;
    padding: 10px 20px;
    font-size: 16px;
   
}

.carousel .carousel-item:nth-child(4) .carousel-caption button{
    padding: 5px 20px;
    font-size: 16px;
    min-width: 50px;
    max-width: 120px;
    bottom: 5px;
   
}

.carousel .carousel-item:nth-child(5) .carousel-caption button{
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    min-width: 50px;
    max-width: 120px;
   
} 


    .eventdateinner{
        display: flex;
        justify-content:center ;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .events h4{
        padding-top: 10px;
    }

    .gallery .galleryitems{
        -ms-grid-columns: auto;
      grid-template-columns: auto;
    }

    .initiatives .row{
        -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .noticeinner{
        grid-template-columns:auto;
    }

        footer .footerinner{
            display: grid;
            grid-template-columns: 1fr;
        }

        footer .footerinner div:nth-child(2){
            align-items: start;
        }

        footer .footerinner div:nth-child(2) h5{
            margin-left:0px;
        }

}

@media(max-width:992px) and (min-width:578px){
    nav{
       max-width:1000px !important;
    }

    header .topside .topsideinner{
        justify-content: flex-end;
     }

    footer .container{
        max-width: 1000px !important;
    }
}



@media(max-width:675px){
    header .topside{
        width: 80%;
    }


}

@media(max-width:578px){

    header .topside{
        padding: 5px 5px 10px 15px;
    }
    header .topside ul{
       display: none;
    }

    header .topside input::placeholder{
        color: white;
        padding: 0px 12px;
    }

    header .homelogin{
        display: block;
    }

    nav .menu.show{
        width: 100vw;
    }

    header .topside{
        right: -20px;
        padding: 0px 15px;
    }
    header .topside input{
        width: 100%;
       max-width: 1000px;
        margin: 5px auto;
        height: 100%;
    }
    

    .sliderinneritem1 .carousel-caption{
       left: 15px;
    }

    .carousel .item3 .carousel-caption{
        width: 100%;
        margin: 0px;
        max-width: auto;
        left: 0px;
        padding: 0px 15px;
    }

    .carousel .item2 .carousel-caption{
        width: 100%;
        margin: 0px;
        max-width: auto;
        left: 0px;
        padding: 0px 15px;
    }

    .sliderinneritem1 .right-item{
        right: -900px;
    }

    .sliderinneritem1 .left-item{
        padding: 0px 15px 0px 15px;
    }

    .carousel .item5 .carousel-caption .caption{
        padding-left: 15px;
    }  
    
   


.carousel .carousel-item:nth-child(1) .carousel-caption button{
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    cursor: pointer;
     width: 100%;
    min-width: 50px;
    max-width: 110px;
    


}
.carousel .carousel-item:nth-child(1) .carousel-caption button:nth-child(2){
    right: 0px !important;
    position: absolute;
}

.carousel .carousel-item:nth-child(2) .carousel-caption button{
    padding: 5px 10px;
    margin-top: 5px;
    font-size: 12px;
    background-color: #d99a3d;
    min-width: 50px;
    max-width: 130px; 
}

.carousel .carousel-item:nth-child(3) .carousel-caption button{
    position: absolute;
    top: 68.5%;
    left: 9%;
    padding: 5px 10px;
    font-size: 12px;
    max-width: 120px;
   
}

.carousel .carousel-item:nth-child(4) .carousel-caption button{
    padding: 5px 20px;
    font-size: 12px;
    min-width: 50px;
    max-width: 110px;
    bottom: 2px;
   
}

.carousel .carousel-item:nth-child(5) .carousel-caption button{
    padding: 5px 20px;
    border: none;
    font-size: 12px;
    min-width: 50px;
    max-width: 110px;
   
} 

.About .right>div{
    flex-direction: column;

    
}

.About .right div div:nth-child(2){
    max-width:1000px;
    text-align: center;
    margin-left: 0px !important;
}



}

@media(max-width:350px){
    .carousel .carousel-item:nth-child(1) .carousel-caption{ 
        top: 60% !important;
        left: 5%;
        right: 5%;
    }
}